.nav-header {
  display: flex;
  justify-content: space-between;
  background-color: maroon;
  color: white;
  padding: 1rem 2rem;
}

.nav-links a {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
}

.active-tab {
  background-color: white;
  color: maroon;
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
}
